<mat-card class="card">
    <div>
        <div [hidden]="isShowDiv">
            <div class="container">
                <input type="checkbox" class="todo-input">
                <h3 (click)=toggleDisplayDiv() class="todo-text">
                    {{todo.name}}
                </h3>
                <button (click)="removeItem()" class="todo-button">
                    <mat-icon>delete</mat-icon>
                   </button>
                <button (click)=toggleDisplayDiv() class="todo-button">
                    <mat-icon >edit</mat-icon>
                </button>
            </div>
        </div>
        <div [hidden]="!isShowDiv">
            <input type="checkbox">
            <mat-form-field class="example-full-width">
                <mat-label>Edit task ...</mat-label>
                <input matInput [(ngModel)]="todo.name">
            </mat-form-field>
            <button (click)=toggleDisplayDiv() class="todo-button">            
                <mat-icon >cancel</mat-icon>
            </button>
            <button (click)="saveTodo(todo)" class="todo-button">                    
                <mat-icon >done</mat-icon>
            </button>
        </div>
    </div>
</mat-card>