.container {
    display: flex;
}

.card {
    height: 85%;
    margin: 6px;
    background: #efebe9;
}

.todo-button {
    float: right;
    padding-top: -40px;
    margin-left: 2px;
    border: none;
    background: transparent;
    color: rgb(161, 158, 158)
}

.todo-text {
    margin-left: 23px;
    width: 100%;
    color: rgb(161, 158, 158);
    font-size: 18px;
}